
/* Estilo para las imágenes del carrusel */
#carousel .carousel-inner img {
    height: 300px; 
    object-fit: cover; 
}

#carousel .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 5px; 
}